<% unless message.new_record? %>
  <div class="message m-b-1 <%= "#{new_message ||= ''}" %>">
    <div class="p-b-q">
      <%= message.body %>
    </div>
    <div class="text-muted small ">
      <%= "#{time_ago_in_words message.created_at} ago" %>
    </div>
  </div>
<% end %>
