<% provide :title, app_name %>

<p>
  This example adds a nested resource <em>Message</em> to <em>People</em>. Nested resources only exist in the context of
  a parent resource.
</p>
<p>
  It also uses <code>includes</code> for eager loading.
</p>
