<% provide :nav, 'Derailed 00' %>
<% provide :title, 'Foundation' %>

<p>
  Derailed 01 is an example of a <em>nested resource</em>.
</p>
<p>
  &hellip;
  Derailed 01 adds a nested resource <em>Message</em> to <em>People</em>. Nested resources exist in the context of their
  parent resource. In other words, you can't have a message which doesn't belong to a person.
</p>
<p>
  Steps
  <ol>
    <li>Mock up page</li>

  </ol>
</p>
<p>
  A full description can be found <a href="">here</a>.
</p>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= link_to("View".html_safe, people_path, class: 'btn btn-info btn-block') %>
  </div>
</div>

<p class='text-muted m-t-2'>
    Like all Derailed examples, you can see this app running on
    <%= link_to 'Heroku', 'http://heroku.com', target: '_blank' %>
    and find the source code on
    <%= link_to 'GitHub', 'http://github.com', target: '_blank' %>.
</p>
