<% provide :nav, 'Derailed 00' %>
<% provide :title, link_to('Foundation', people_path) %>

<p>
  Derailed 01 is an example of a <em>nested resource</em>.
</p>
<p>
  &hellip;
  Derailed 01 adds a nested resource <em>Message</em> to <em>People</em>. Nested resources exist in the context of their
  parent resource. In other words, you can't have a message which doesn't belong to a person.
</p>
<p>
  Steps
  <ol>
    <li>Mock up page</li>

  </ol>
</p>

<p class='text-muted m-t-2'>
    Like all Derailed examples, you can see this app running on
    <%= link_to 'Heroku', 'http://heroku.com', target: '_blank' %>
    and find the source code on
    <%= link_to 'GitHub', 'http://github.com', target: '_blank' %>.
</p>
