<% provide :nav, 'Derailed 01' %>
<% provide :title, link_to('Nested Resources', people_path) %>

<p>
  Derailed 01 adds a nested resource <em>Message</em> to <em>People</em>. Nested resources only exist in the context of
  their parent resource. In other words, you can't have a message which doesn't belong to a person.
</p>

<p class='text-muted m-t-2'>
    Like all Derailed examples, you can see this app running on
    <%= link_to 'Heroku', 'http://heroku.com', target: '_blank' %>
    and find the source code on
    <%= link_to 'GitHub', 'http://github.com', target: '_blank' %>.
</p>
